.bg {
  height: 608px;
  background: url(../images/longhu.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
}
.w {
  margin: 0 auto;
  width: 1300px;
}
.mp4 {
  margin: 10px auto;
  padding-top: 10px;
  border-radius: 30px;
  height: 810px;
  width: 1262px;
  background-color: white;
  text-align: center;
}
.a {
  padding-left: 30px;
  margin-top: 10px;
  text-align: center;
}

.a-b {
  float: left;
  margin: 0 5px 10px 5px;
  width: 630px;
  height: 375px;
  background-color: #fff;
  border-radius: 20px;
  color: black;
}

.a-b div {
  float: left;
}

.a-b {
  padding-top: 20px;
}

.a-b .a-b-1 {
  width: 260px;
  line-height: 260px;
}

.a-b .a-b-1 img {
  width: 90%;
  transition: all 0.6s;
}

.a-b .a-b-1 img:hover {
  transform: scale(2);
}

.a-b .a-b .a-b-1-img {
  height: 80%;
}

.a-b .a-b-2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: left;
  padding-right: 5px;
  width: 360px;
  height: 88%;
  font-size: 15px;
  text-indent: 2em;
  text-align: left;
  margin-top: -30px;
}
.tu {
  width: 1300px;
  margin: auto;
}

.img {
  float: left;
  margin: 50px;
}

.img:hover {
  background-color: rgb(233, 102, 102);
  border: 1px solid #777;
  transition: 0.5s;
  transform: scale(1.5);
}

.img img {
  width: 328px;
  height: 240px;
}
