.yuan {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  margin-top: 50px;
}

.box1 {
  width: 1200px;
  height: 300px;
  margin: auto;
}

.box2 {
  width: 1200px;
  height: 200px;
  margin: auto;
}

.box3 {
  width: 1200px;
  height: 400px;
  margin: auto;
}

.img1 img {
  height: 200px;
  width: 300px;
  margin-top: 50px;
  margin-left: 20px;
}

.img2 img {
  height: 200px;
  width: 300px;
  margin-top: 50px;
  margin-left: 20px;
}

.img3 img {
  height: 200px;
  width: 300px;
  margin-top: 50px;
  margin-left: 20px;
}

.cont1,
.cont2,
.cont3 {
  width: 880px;
  height: 300px;
}

.cont1,
.cont2,
.cont3,
.img1,
.img2,
.img3 {
  float: left;
}
